<h1>My name is <%=["Amigo", "Oscar", "Viking"].sample %></h1>
<div>
  <img src='https://image.shutterstock.com/image-photo/cat-medical-mask-protective-antiviral-260nw-1684423789.jpg'style='border:3px dashed red'>
</div>
